a {
  color: white;
  text-decoration: none;
}

.pokerer {
  font-family: 'Spectral SC', serif;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.nav-auth {
  font-family: 'Spectral SC', serif;
  font-size: 20px !important;
}

.foundation {
  height: calc(100vh - 80px);
  overflow-y: overlay;
  background: #fafafa;
}

.record-index {
  height: calc(100% - 64px);
  padding: 0% 15%;
  padding-top: 25px;
  display: flex;
}

.record-index .record-index-left {
  width: 66.5%;
  text-align: center;
}

.record-index .record-index-right {
  width: 33.5%;
  text-align: center;
}

.record-form {
  height: calc(100% - 64px);
  padding: 0% 15%;
  padding-top: 25px;
  text-align: center;
}

.landing {
  height: calc(100% - 64px);
  padding: 0% 15%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Spectral SC', serif;
}

.landing a span {
  font-family: 'Spectral SC', serif !important;
}
